### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

** Calculate the total number of schools

** Calculate the total number of students

** Calculate the total budget

** Calculate the average math score 

** Calculate the average reading score

** Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

#### Calculate the total number of schools in the school district

In [2]:
df1 = school_data
df1.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
number_of_schools = df1["school_name"].value_counts().sum()
number_of_schools

15

#### Calculate the total number of students in the school district

In [4]:
df2 = student_data
df2.head ()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
df3 = school_data_complete
df3.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
number_of_students = df3["Student ID"].value_counts().sum()
number_of_students

39170

#### Calculate the total budget for the school district

In [7]:
district_budget = df1["budget"].sum()
district_budget

24649428

#### Calculate the average math score for students in this school district

In [8]:
avg_math_score = df3["math_score"].mean()
round(avg_math_score, 3)

78.985

#### Calculate the average reading score for students in this school district

In [9]:
avg_reading_score = df3["reading_score"].mean()
round(avg_reading_score, 3)

81.878

#### Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

In [10]:
passing_rate = (avg_math_score + avg_reading_score) / 2
round(passing_rate, 3)

80.432

#### Calculate the percentage of students with a passing math score (70 or greater)

In [11]:
passing_math = df3.loc[df3["math_score"] >= 70]
num_students_pass_math = passing_math["Student ID"].value_counts().sum()
num_students_pass_math

29370

In [12]:
percent_pass_math = (num_students_pass_math/number_of_students) * 100
round(percent_pass_math, 3)

74.981

#### Calculate the percentage of students with a passing reading score (70 or greater)

In [13]:
passing_reading = df3.loc[df3["reading_score"] >= 70]
num_students_pass_reading = passing_reading["Student ID"].value_counts().sum()
num_students_pass_reading

33610

In [14]:
percent_pass_reading = (num_students_pass_reading/number_of_students) * 100
round(percent_pass_reading, 3)

85.805

In [15]:
district_summary = {"number_of_schools": [number_of_schools], "number_of_students": [number_of_students], "school_district_budget": [district_budget], "avg_math_score": [round(avg_math_score, 3)], "avg_reading_score": [round(avg_reading_score, 3)], "avg_passing_rate": [round(passing_rate, 3)], "perc_pass_math": [round(percent_pass_math, 3)], "perc_pass_reading": [round(percent_pass_reading, 3)]}
pd.DataFrame(district_summary)

,number_of_schools,number_of_students,school_district_budget,avg_math_score,avg_reading_score,avg_passing_rate,perc_pass_math,perc_pass_reading
0,15,39170,24649428,78.985,81.878,80.432,74.981,85.805

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [16]:
df3["Pass/Fail Math"] = pd.cut(df3["math_score"], bins=[0,70,100], labels=["Fail","Pass"], right=False)

In [17]:
df3["Pass/Fail Reading"] = pass_fail_reading = pd.cut(df3["reading_score"], bins=[0,70,100], labels=["Fail","Pass"], right=False)

In [18]:
df3.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pass/Fail Math,Pass/Fail Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Pass,Fail
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,Fail,Pass

In [19]:
school_grp = df3.groupby(["school_name"])
school_grp

In [20]:
school_type = school_grp["type"].min()

In [21]:
num_students = school_grp["size"].min()

In [22]:
total_school_budget = school_grp["budget"].min()

#### Calculate the Average Math Score for each school in the school district.

In [23]:
avg_math_by_school = school_grp["math_score"].mean()

#### Calculate the Average Reading Score for each school in the school district.

In [24]:
avg_reading_by_school = school_grp["reading_score"].mean()

#### Percent of students that passed math and reading per school

In [25]:
num_pass_math = school_grp["Pass/Fail Math"].apply(lambda x: x.str.contains("Pass").sum())

In [26]:
num_pass_reading = school_grp["Pass/Fail Reading"].apply(lambda x: x.str.contains("Pass").sum())

In [27]:
school_stats = pd.concat([school_type, num_students, total_school_budget, avg_math_by_school, avg_reading_by_school, num_pass_math, num_pass_reading], axis='columns', sort=False)
school_stats

,type,size,budget,math_score,reading_score,Pass/Fail Math,Pass/Fail Reading
school_name,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,3318,4077
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,1749,1803
Figueroa High School,District,2949,1884411,76.711767,81.158020,1946,2381
Ford High School,District,2739,1763916,77.102592,80.746258,1871,2172
Griffin High School,Charter,1468,917500,83.351499,83.816757,1371,1426
Hernandez High School,District,4635,3022020,77.289752,80.934412,3094,3748
Holden High School,Charter,427,248087,83.803279,83.814988,395,411
Huang High School,District,2917,1910635,76.629414,81.182722,1916,2372
Johnson High School,District,4761,3094650,77.072464,80.966394,3145,3867
Pena High School,Charter,962,585858,83.839917,84.044699,910,923
Rodriguez High School,District,3999,2547363,76.842711,80.744686,2654,3208
Shelton High School,Charter,1761,1056600,83.359455,83.725724,1653,1688
Thomas High School,Charter,1635,1043130,83.418349,83.848930,1525,1591
Wilson High School,Charter,2283,1319574,83.274201,83.989488,2143,2204
Wright High School,Charter,1800,1049400,83.682222,83.955000,1680,1739

In [28]:
school_stats.rename(columns={"type": "School Type", "size": "Total Students", "budget": "Total School Budget", "math_score": "Average Math Score", "reading_score": "Average Reading Score"}, inplace=True)

In [29]:
school_stats.head(1)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Pass/Fail Math,Pass/Fail Reading
school_name,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,3318,4077

In [30]:
school_stats["% Pass Math"] = (school_stats["Pass/Fail Math"] / school_stats["Total Students"]) * 100
school_stats["% Pass Reading"] = (school_stats["Pass/Fail Reading"] / school_stats["Total Students"]) * 100
school_stats["Per Student Budget"] = (school_stats["Total School Budget"] / school_stats["Total Students"])
school_stats["% Overall Passing Rate"] = (school_stats["% Pass Math"] + school_stats["% Pass Reading"]) / 2

In [31]:
school_stats.head(1)

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Pass/Fail Math,Pass/Fail Reading,% Pass Math,% Pass Reading,Per Student Budget,% Overall Passing Rate
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,3318,4077,66.680064,81.93328,628.0,74.306672

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [32]:
school_stats.nlargest(5, "% Overall Passing Rate")

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Pass/Fail Math,Pass/Fail Reading,% Pass Math,% Pass Reading,Per Student Budget,% Overall Passing Rate
school_name,,,,,,,,,,,
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,1749,1803,94.133477,97.039828,582.0,95.586652
Thomas High School,Charter,1635,1043130,83.418349,83.848930,1525,1591,93.272171,97.308869,638.0,95.290520
Pena High School,Charter,962,585858,83.839917,84.044699,910,923,94.594595,95.945946,609.0,95.270270
Griffin High School,Charter,1468,917500,83.351499,83.816757,1371,1426,93.392371,97.138965,625.0,95.265668
Wilson High School,Charter,2283,1319574,83.274201,83.989488,2143,2204,93.867718,96.539641,578.0,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [33]:
school_stats.nsmallest(5, "% Overall Passing Rate")

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Pass/Fail Math,Pass/Fail Reading,% Pass Math,% Pass Reading,Per Student Budget,% Overall Passing Rate
school_name,,,,,,,,,,,
Rodriguez High School,District,3999,2547363,76.842711,80.744686,2654,3208,66.366592,80.220055,637.0,73.293323
Figueroa High School,District,2949,1884411,76.711767,81.158020,1946,2381,65.988471,80.739234,639.0,73.363852
Huang High School,District,2917,1910635,76.629414,81.182722,1916,2372,65.683922,81.316421,655.0,73.500171
Johnson High School,District,4761,3094650,77.072464,80.966394,3145,3867,66.057551,81.222432,650.0,73.639992
Ford High School,District,2739,1763916,77.102592,80.746258,1871,2172,68.309602,79.299014,644.0,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [34]:
df3.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pass/Fail Math,Pass/Fail Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Pass,Fail
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,Fail,Pass

In [35]:
df3_grade9 = df3.loc[lambda df3: df3["grade"] == "9th"]
grade_grp_9 = df3_grade9.groupby(["school_name"])["math_score"].mean()
df3_grade10 = df3.loc[lambda df3: df3["grade"] == "10th"]
grade_grp_10 = df3_grade10.groupby(["school_name"])["math_score"].mean()
df3_grade11 = df3.loc[lambda df3: df3["grade"] == "11th"]
grade_grp_11 = df3_grade11.groupby(["school_name"])["math_score"].mean()
df3_grade12 = df3.loc[lambda df3: df3["grade"] == "12th"]
grade_grp_12 = df3_grade12.groupby(["school_name"])["math_score"].mean()

In [36]:
math_scores_by_grade = pd.concat([grade_grp_9, grade_grp_10, grade_grp_11, grade_grp_12], axis="columns", sort=False)

In [37]:
column_names = math_scores_by_grade.columns.values
column_names[0] = "9th"
column_names[1] = "10th"
column_names[2] = "11th"
column_names[3] = "12th"
math_scores_by_grade.columns = column_names

In [38]:
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [39]:
df3_grade9 = df3.loc[lambda df3: df3["grade"] == "9th"]
grade_grp_9 = df3_grade9.groupby(["school_name"])["reading_score"].mean()
df3_grade10 = df3.loc[lambda df3: df3["grade"] == "10th"]
grade_grp_10 = df3_grade10.groupby(["school_name"])["reading_score"].mean()
df3_grade11 = df3.loc[lambda df3: df3["grade"] == "11th"]
grade_grp_11 = df3_grade11.groupby(["school_name"])["reading_score"].mean()
df3_grade12 = df3.loc[lambda df3: df3["grade"] == "12th"]
grade_grp_12 = df3_grade12.groupby(["school_name"])["reading_score"].mean()

In [40]:
reading_scores_by_grade = pd.concat([grade_grp_9, grade_grp_10, grade_grp_11, grade_grp_12], axis="columns", sort=False)

In [41]:
column_names = reading_scores_by_grade.columns.values
column_names[0] = "9th"
column_names[1] = "10th"
column_names[2] = "11th"
column_names[3] = "12th"
reading_scores_by_grade.columns = column_names

In [42]:
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [43]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [44]:
pd.cut(school_stats["Per Student Budget"], bins=[0, 585, 615, 645, 675], labels=["<$585", "$585-615", "$615-645", "$645-675"], right=False)

school_name
Bailey High School       $615-645
Cabrera High School         <$585
Figueroa High School     $615-645
Ford High School         $615-645
Griffin High School      $615-645
Hernandez High School    $645-675
Holden High School          <$585
Huang High School        $645-675
Johnson High School      $645-675
Pena High School         $585-615
Rodriguez High School    $615-645
Shelton High School      $585-615
Thomas High School       $615-645
Wilson High School          <$585
Wright High School          <$585
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-615' < '$615-645' < '$645-675']

In [55]:
scores_by_spending_df = pd.DataFrame()
scores_by_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_stats["Per Student Budget"], bins=[0, 585, 615, 645, 675], labels=["<$585", "$585-615", "$615-645", "$645-675"], right=False)
scores_by_spending_df["Average Math Score"] = avg_math_by_school = school_grp["math_score"].mean()
scores_by_spending_df["Average Reading Score"] = avg_reading_by_school = school_grp["reading_score"].mean()
scores_by_spending_df["% Pass Math"] = (school_stats["Pass/Fail Math"] / school_stats["Total Students"]) * 100
scores_by_spending_df["% Pass Reading"] = (school_stats["Pass/Fail Reading"] / school_stats["Total Students"]) * 100
school_stats["% Overall Passing Rate"] = (school_stats["% Pass Math"] + school_stats["% Pass Reading"]) / 2

In [46]:
group_spending = scores_by_spending_df.groupby(["Spending Ranges (Per Student)"])
group_spending.mean()

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading
Spending Ranges (Per Student),,,,
<$585,83.455399,83.933814,93.460096,96.610877
$585-615,83.599686,83.885211,94.230858,95.900287
$615-645,79.079225,81.891436,75.668212,86.106569
$645-675,76.997210,81.027843,66.164813,81.133951

## Scores by School Size

* Perform the same operations as above, based on school size.

In [47]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [58]:
score_by_school_size_df = pd.DataFrame()
score_by_school_size_df["School Size"] = pd.cut(school_stats["Total Students"], bins=[0, 1000, 2000, 5000], labels=["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"], right=False)
score_by_school_size_df["Average Math Score"] = avg_math_by_school = school_grp["math_score"].mean()
score_by_school_size_df["Average Reading Score"] = avg_reading_by_school = school_grp["reading_score"].mean()
score_by_school_size_df["% Pass Math"] = (school_stats["Pass/Fail Math"] / school_stats["Total Students"]) * 100
score_by_school_size_df["% Pass Reading"] = (school_stats["Pass/Fail Reading"] / school_stats["Total Students"]) * 100
score_by_school_size_df["% Overall Passing Rate"] = (school_stats["% Pass Math"] + school_stats["% Pass Reading"]) / 2

In [49]:
group_size = score_by_school_size_df.groupby(["School Size"])
group_size.mean()

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [61]:
score_by_school_type_df = pd.DataFrame()
score_by_school_type_df["School Type"] = school_grp["type"].min()
score_by_school_type_df["Average Math Score"] = avg_math_by_school = school_grp["math_score"].mean()
score_by_school_type_df["Average Reading Score"] = avg_reading_by_school = school_grp["reading_score"].mean()
score_by_school_type_df["% Pass Math"] = (school_stats["Pass/Fail Math"] / school_stats["Total Students"]) * 100
score_by_school_type_df["% Pass Reading"] = (school_stats["Pass/Fail Reading"] / school_stats["Total Students"]) * 100
score_by_school_type_df["% Overall Passing Rate"] = (school_stats["% Pass Math"] + school_stats["% Pass Reading"]) / 2
score_by_school_type_df

,School Type,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
school_name,,,,,,
Bailey High School,District,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,83.682222,83.955000,93.333333,96.611111,94.972222

In [64]:
group_school_type = score_by_school_type_df.groupby(["School Type"]).mean()
group_school_type

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

In [51]:

#score_by_school_type_df["School Size"] = group_school_type.mean()
#score_by_school_size_df["Average Math Score"] = avg_math_by_school = school_grp["math_score"].mean()
#score_by_school_size_df["Average Reading Score"] = avg_reading_by_school = school_grp["reading_score"].mean()
#score_by_school_size_df["% Pass Math"] = (school_stats["Pass/Fail Math"] / school_stats["Total Students"]) * 100
#score_by_school_size_df["% Pass Reading"] = (school_stats["Pass/Fail Reading"] / school_stats["Total Students"]) * 100
#score_by_school_size_df["% Overall Passing Rate"] = (school_stats["% Pass Math"] + school_stats["% Pass Reading"]) / 2