### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

** Calculate the total number of schools

** Calculate the total number of students

** Calculate the total budget

** Calculate the average math score 

** Calculate the average reading score

** Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

#### Calculate the total number of schools in the school district

In [36]:
df1 = school_data
df1.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [63]:
number_of_schools = df1["school_name"].value_counts().sum()
number_of_schools

15

#### Calculate the total number of students in the school district

In [38]:
df2 = student_data
df2.head (3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [64]:
number_of_students = df2["Student ID"].value_counts() .sum()
number_of_students

39170

#### Calculate the total budget for the school district

In [65]:
district_budget = df1["budget"].sum()
district_budget

24649428

#### Calculate the average math score for students in this school district

In [82]:
avg_math_score = df2["math_score"].mean()
round(avg_math_score, 3)

78.985

#### Calculate the average reading score for students in this school district

In [83]:
avg_reading_score = df2["reading_score"].mean()
round(avg_reading_score, 3)

81.878

#### Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

In [84]:
passing_rate = ((df2["math_score"].mean()) + (df2["reading_score"].mean()))/2
round(passing_rate, 3)

80.432

#### Calculate the percentage of students with a passing math score (70 or greater)

In [85]:
passing_math = df2.loc[df2["math_score"] >= 70]
percent_pass_math = (passing_math["Student ID"].value_counts().sum()) / (df2["Student ID"].value_counts() .sum()) * 100
round(percent_pass_math, 3)

74.981

#### Calculate the percentage of students with a passing reading score (70 or greater)

In [86]:
passing_reading = df2.loc[df2["reading_score"] >= 70]
percent_pass_reading = (passing_reading["Student ID"].value_counts().sum()) / (df2["Student ID"].value_counts() .sum()) * 100
round(percent_pass_reading, 3)

85.805

In [88]:
district_summary = {"number_of_schools": [15], "number_of_students": [39170], "school_district_budget": [24649428], "avg_math_score": [78.985], "avg_reading_score": [81.878], "avg_passing_rate": [80.432], "perc_pass_math": [74.981], "perc_pass_reading": [85.805]}
pd.DataFrame(district_summary)

,number_of_schools,number_of_students,school_district_budget,avg_math_score,avg_reading_score,avg_passing_rate,perc_pass_math,perc_pass_reading
0,15,39170,24649428,78.985,81.878,80.432,74.981,85.805

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.